<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478148902868-d9hc69k9bmn0fkeusik0kv0jcn6h7sib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478148902868-d9hc69k9bmn0fkeusik0kv0jcn6h7sib</string>
	<key>API_KEY</key>
	<string>AIzaSyDRliOY30lH3SkuNcnu8SNI8qApyTG5dxs</string>
	<key>GCM_SENDER_ID</key>
	<string>478148902868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.biryaniqueen</string>
	<key>PROJECT_ID</key>
	<string>biryani-queen</string>
	<key>STORAGE_BUCKET</key>
	<string>biryani-queen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478148902868:ios:f58d278b21855eff246041</string>
	<key>DATABASE_URL</key>
	<string>https://biryani-queen.firebaseio.com</string>
</dict>
</plist>